<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ckelsel.android.training">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FragmentSample.statics.StaticFragmentTitle"
            android:label="@string/title_activity_static_fragment_title" />
        <activity
            android:name=".FragmentSample.dynamic.NewsActivity"
            android:label="NewsActivity" />
        <activity
            android:name=".AsyncTask.DownloadActivity"
            android:label="@string/title_activity_download" />
        <activity
            android:name=".Navigation.navigation"
            android:label="@string/title_activity_navigation" />
        <activity
            android:name=".FragmentAdapter.FragmentAdapterActivity"
            android:label="@string/title_activity_fragment_adapter" />
        <activity
            android:name=".FragmentSample.fragmenthosttab.FragmentTabHostActivity"
            android:label="@string/title_activity_main" />

        <service android:name=".aild_server.CalcService">
            <intent-filter>
                <action android:name="com.ckelsel.android.training.aild_server" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.DownloadIntentService"
            android:exported="false" />

        <activity android:name=".service.DownloadIntentServiceActivity" />

        <service
            android:name=".service.LocalService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".service.MyScheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
        <receiver android:name=".service.MyStartServiceReceiver"></receiver>

        <activity android:name=".service.LocalServiceActivity"></activity>
    </application>

</manifest>