<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ckelsel.android.training" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FragmentSample.statics.StaticFragmentTitle"
            android:label="@string/title_activity_static_fragment_title" >
        </activity>
        <activity
            android:name=".FragmentSample.dynamic.NewsActivity"
            android:label="NewsActivity" >
        </activity>
        <activity
            android:name=".AsyncTask.DownloadActivity"
            android:label="@string/title_activity_download" >
        </activity>
        <activity
            android:name=".Navigation.navigation"
            android:label="@string/title_activity_navigation" >
        </activity>
        <activity
            android:name=".FragmentAdapter.FragmentAdapterActivity"
            android:label="@string/title_activity_fragment_adapter" >
        </activity>
        <activity
            android:name=".FragmentSample.fragmenthosttab.FragmentTabHostActivity"
            android:label="@string/title_activity_main" >
        </activity>
    </application>

</manifest>
